rdflib
networkx
matplotlib
SpeechRecognition
moviepy
tensorflow
opencv-python>=4.5.5.62
cvlib>=0.2.7
numpy
pytesseract
argparse
requests
textract
wget
chardet
tika
urllib3
seaborn
sklearn
adjustText
pyldavis
funcy
gensim
boto
boto3
google-cloud-speech==1.3.2
google-cloud-storage
wave
pydub
PyMuPDF
nltk
flask
pygments
python-magic
pattern
validators>=0.18.1